/*顶部区域*/
.top{
    height:60px;
    width:100%;/*也就是和父元素一样宽，这里使用百分比的形式，使得网页扩大减小都不会变形*/
    background-color: black;

}
.top .top_in{
    width: 1200px;
    margin:0 auto;
    height:100%;
    /*background-color: yellow;*/
}
.top  .top_left{
    float:left;
    height:100%;
    width:190px;
    /*background-color: pink;*/
}
.top .top_left>h1{
    width: 100%;
    height: 100%;

}
.top .top_left>h1>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background:url("../image/nubia_logo.png");
    background-size: 190px 60px;/*设置图片大小正好适配div块的大小*/
}
.top .top_right{
    float:right;
    height: 100%;
    width: 800px;
    /*background-color: pink;*/
}
.top .top_nav{
    float:left;
    width:550px;
    height: 100%;
    /*background-color: skyblue;*/

}
.top .top_nav>li{
    float:left;
    list-style: none;
}
.top .top_nav>li>a{
    font-size:25px;
    font-weight: bold;/*给文字加粗*/
    line-height:60px;
    color:white;/*文字的颜色，直接是color*/
    margin-left:20px;/*这是给文字添加空隙*/
    text-decoration:none;/*去掉文字的下划线*/
}
/*.top .top_nav>li>a:hover{!*移动鼠标上去变化颜色*!*/
    /*color:#e82c07;*/
/*}*/
.top .top_login{
    float:right;
    width: 150px;
    height: 100%;
    /*background-color: skyblue;*/
}
.top .top_login>li{
    list-style: none;
    float:right;
    margin-right:10px;
}
.top .top_login>li>a{
    font-size:20px;
    font-weight:bold;
    line-height:60px;
    color:white;

    text-decoration:none;
}
.top ul>li>a:hover{/*移动鼠标上去变化颜色*/
    color:#e82c07;
    /*这里我们使用.top ,top_login>li>a:hover而使用了ul来替代top_login这个可以说是代码的重构，我们希望
    li标签里的文字鼠标悬浮都变色，这样我们把父层级一改，可以省略代码，在后续编程中这些都是隐形的小技巧
     */
}
.top .top_login>li:nth-child(3){
    width: 30px;
    height: 37px;
    background:url("../image/nubia_person.png");
    margin-top:10px;
}

/*广告区域*/
.banner{
    height: 800px;
    width: 100%;
    background-color: green;
}
/*内容区域*/
.content{
    height: 1883px;
    width: 100%;
    background-color: blue;
}
.banner .nav{
    width: 1200px;
    height: 157px;
    /*margin:0 auto;*//*这里我们想要居中这个模块，但是我们把定位流变成了绝对定位,所以就不管用了*/
    background:pink;
    position:absolute;/*只所所以改成绝对定位流，就是想要让这个盒子脱标，这样就可以让nav这个盒子悬浮在下个盒子上面*/
    left:50%;/*通过这种方式来进行居中盒子，靠左边的一边，然后利用一半的宽度-600px进行回退*/
    margin-left:-600px;
}
.banner .nav>ul{
    width:100%;
    height:100%;
    background:yellow;
    padding-left: 75px;
    padding-right:75px;
    box-sizing:border-box;/*上面使用了内边距，这里是为了不让大盒子变形*/
}
.banner .nav>ul>li{
    width: 150px;
    height:100%;
    background:purple;
    float:left;/*之所以变成浮动流，是因为li会独占一行，这样会占有七行，浮动流可以使它水平排版了*/
    /*border:1px solid black;*/
    box-sizing:border-box;/*为了就是不用因为边框而使得盒子变大变小*/
    list-style: none;
}
.banner .nac>ul>li image{
    width:150px;
    height:157px;
}
.banner .figure{
    width: 100%;
    height: 600px;
    background:red;
}
.banner .video{
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
    background:skyblue;
}

/*底部区域*/
.footer{

}
